@font-face{font-family:HeadLineA;src:url(/fonts/HeadLineA.ttf)}@import ("antd/dist/antd.css")

*{padding:0;margin:0}a{font-size:13px;color:#ff934a}._tIUlzRAcxo1_HsiAu5jk{color:#39c;font-family:HeadLineA;border-radius:10px;background-size:100% 100%}